<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>912745304601-inijjib9ahnokcimrtrqsf5m8lmr6ddq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.912745304601-inijjib9ahnokcimrtrqsf5m8lmr6ddq</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>912745304601-2qnbf8c4mu8nsj4qqe53ft0iemihke2l.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCii18tPBkeXlPLrZN0td85BVxb8yzD86A</string>
	<key>GCM_SENDER_ID</key>
	<string>912745304601</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.booktalent</string>
	<key>PROJECT_ID</key>
	<string>booktalent-7c3d6</string>
	<key>STORAGE_BUCKET</key>
	<string>booktalent-7c3d6.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:912745304601:ios:cdee8717eb86671b239088</string>
</dict>
</plist>